.layout{
    display: flex;
    flex-direction: row;
    // width: 100%;
    // height: 100vh;
    // overflow-y: auto;
}
.Container_layout{
    // overflow-y: auto;
    // display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
}

.childrenLayout{
    min-width: 100vw;
    min-height: 100vh;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
    color: var(--primary-color) !important;
}

.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: var(--primarySoft-color) !important;
}

.css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: var(--primarySoft-color) !important;
}