@import '../abstracts/_variables';

.branch-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.3rem;
    padding-left:10%;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
    height: 100%;
    padding-top: 13%;
    padding-bottom: 2%;
    justify-content: space-evenly;
    @media (max-width: 600px) {
      padding-top: 25%;
      flex-direction: column;
      height: 90%;
    }
    &__image {
      width: 100%;
      height: auto;
      max-width: 400px;
      border-radius: 8px;
      object-fit: cover;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      max-height: 250px;
      @media (max-width: 600px) {
        max-width: 300px;
        max-width: 90%;
      }
    }
  
    &__title {
      font-size: 1.4rem;
      font-weight: bold;
      color: var(--primary-color);
      text-align: center;
      @media (max-width: 600px) {
        font-size: 1.2rem;
      }
    }
  
    &__description {
      font-size: 1rem;
      color: #555;
      text-align: justify;
      line-height: 1.5;
      padding: 0 1rem;
      width: 100%;
      align-self: center;
      text-align: center;
      @media (max-width: 600px) {
        font-size: 0.9rem;
        width: 90%;
      }
    }
  
    &__address {
      font-size: 1rem;
      color: #777;
      font-style: italic;
      @media (max-width: 600px) {
        font-size: 0.8rem;
        width: 80%;
        text-align: center;
      }
    }
  
    &__status {
      font-size: 1.1rem;
      font-weight: bold;
      padding: 0.5rem 1rem;
      border-radius: 16px;
      text-transform: capitalize;
      margin-top: 3%;
      &--active {
        font-size: 1.1rem;
        color: #fff;
        background-color: var(--primary-color);
      }
  
      &--inactive {
        color: #fff;
        background-color: var(--secundary-color);
      }
  
      &--deleted {
        color: #fff;
        background-color: #d9534f;
      }
  
      &--unknown {
        color: #fff;
        background-color: #6c757d;
      }
      @media (max-width: 600px) {
        font-size: 0.8rem;
      }
    }
  
    &__actions {
      display: flex;
      gap: 1rem;
      margin-top: 10px;
    }
    &__status-toggle{
      display: flex;
      justify-content: center;
      align-items: center;
      .stateChange{
        color: var(--primary-color);
        font-size: 0.7rem;  
      }
    }
    // & .swal2-popup{
    //   width: 200px !important;
    // }
  }
  .textInfo{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    @media (max-width: 600px) {
      width: 95%;
    }
  }
  .MapInfo{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    @media (max-width: 600px) {
      width: 95%;
      // overflow: hidden;
      padding-bottom: 100px;
      margin-bottom: 30px;
    }
  }
  .swal2-popup{
    width: 60%;
  }
  .swal2-input {
    max-width: 100%;
    width: 90% !important; 
    padding: 10px;
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
  }
  .swal2-textarea{
    margin-left: 0px;
    max-width: 100%;
    padding: 10px;
    width: 100%;
    margin-right: 0px;
  }
  
  .swal2-title {
    font-size: 1.5rem;
    color: rgb(2, 122, 140);
    text-align: center;
  }
  
  .swal2-html-container {
    font-size: 1rem;
    color: #333;
  }
  
  .my-confirm-button-class {
    background-color: rgb(2, 122, 140);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .my-cancel-button-class {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilos responsivos */
  @media (max-width: 600px) {
    .swal2-popup {
      padding: 10px;
      width: 90%;
    }
    
    .swal2-title {
      font-size: 1.2rem;
    }
    
    .swal2-html-container{
      padding: 0px;
      font-size: 0.9rem;
      width: 100%;
    }
    
    .my-confirm-button-class,
    .my-cancel-button-class {
      padding: 8px 16px;
      font-size: 0.9rem;
    }
    .swal2-input{
      width: 100% !important; 
      font-size: 0.9rem;
    }
    .swal2-textarea{
      width: 100%;
      font-size: 0.9rem;
    }
  }
  
  .back-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: rgb(2, 122, 140);
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    z-index: 0;
    border-radius: 30%;
    padding: 8px 8px;
    top: 20%;
    left: 10%;
    & h4{
      margin-left: 10px;
    }
    &:hover {
      color: rgb(0, 170, 196); 
      background-color: transparent;
    }
    
    .back-icon {
      font-size: 1.5rem;
      @media (max-width: 600px) {
        font-size: 1rem;
      }
    }
    
    @media (max-width: 600px) {
      background-color: #e2e2e2f4;
      font-size: 1rem;
    }
  }
  .swal2-imageBranch{
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .branch-details__map {
    width: 100%;
    height: 300px; 
    margin-top: 20px;
  }
