
.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: var(--primary-color);
    background-image: url(../../assets/images/fondo-poli.svg);
    background-size:contain;
    justify-content: center;
  }
.contentlogin {
  padding-top: 2%;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (max-width: 500px) {
        width: 85%;
      }
    }
    
.form-containerLogin {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 100%;
      
    }
.logoCapitanDiv{
  display: flex;
  width: 250px;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: #fff;
    }
.logoCapitan{
  display: flex;
  width: 100%;
  padding-bottom: 10%;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
    }
.logo{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 15%;
      & img{
        width: 50%;
      }
    }

.logo2 {
      width: 100%;
      min-width: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    // .google-button {
    //   width: 250px;
    //   height: 50px;
    //   min-width: 200px;
    //   padding: 10px;
    //   border: 2px solid #2c3e50;
    //   border-radius: 5px;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   transition: all 0.3s ease;
    //   color: #34495e;
      
    // }
    // .google-button:hover {
    //   // background-color: var(--bg-color);
    //   border-color: var(--bg-color);
    //   color: var(--bg-color);
    //   cursor: ""pointer;
    // }
    // .google-img{
    //   height: 40px;
    // }
.form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
   
.form-inputLogin {
      padding: 10px;
      border: 2px solid #e5e7eb;
      width: 250px;
      border-radius: 5px;
      margin-bottom: 10px;
    }
    
.form-inputLogin:focus {
      outline: none;
      border-color: var(--primary-light); // Reemplaza var(--greenSoft-color) con var(--primary-light)
    }
  
.submit_button {
  width: 250px;
  min-width: 200px;
  padding: 10px;
  border: none;
  background-color: var(--primary-color);
  color: var(--background-light); // Reemplaza white con var(--background-light)
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 13px;

  &:hover {
    background-color: var(--primary-light); // Reemplaza var(--greenSoft-color) con var(--primary-light)
    cursor: pointer;
    } 
    }
.cancel-buttonLog{
  width: 250px;
  min-width: 200px;
  padding: 10px;
  border: none;
  background-color: #727272;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 13px;

 &:hover {
  background-color: #999;
  cursor: pointer;
} 
}

    
.forgot-password-button {
      width: 50%;
      min-width: 200px;
      text-align: left;
      color: #11aa9e;
    }
    
.create-account-button {
      width: 250px;
      min-width: 200px;
      padding: 10px;
      font-size: 13px;
      // background-color: #007bff;
      background-color: var(--primary-color);
      color: white;
      border-radius: 5px;
      margin-bottom: 10px;
      text-align: center;
      text-decoration: none;
      height: auto;
      &:hover {
      // cursor: pointer;
      background-color: #f0a226;
      // color: var(--secundary-color);
     
     
    }
    }
.form-error {
      color: #fa1111;
      font-size: 0.875rem;
      display: block;
      margin-bottom: 1rem; 
    }
    
   .fondoOlas{
    position: absolute;
    bottom: 0;
   }