.open-app-message {
  height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  
    .app-image {
      width: 200px;
      height: auto;
      margin-bottom: 20px;
    }
  
    h1 {
      font-size: 2rem;
      color: #333;
      margin-bottom: 10px;
    }
  
    p {
      font-size: 1.2rem;
      color: #555;
      margin-bottom: 20px;
    }
  
    .back-home-button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
    }
  }
  