.partner-detail {
  padding: 20px;
  background-color: #f9f9f9;
  height: 100%;
  padding-left: 5%;
  h4 {
    font-size: 1.6rem;
    color: #333;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 5%;
  }

  .partner-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    height: 50%;
    
    @media (max-width: 768px) {
      height: auto;
    }

    .MuiCard-root {
      width: 100%;
      max-width: 500px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      background-color: #fff;
      padding: 20px;
      text-align: center;
      transition: transform 0.3s ease;
      &:hover {
        transform: translateY(-5px);
      }

      .MuiAvatar-root {
        width: 80px;
        height: 80px;
        margin: 0 auto 15px;
        border: 2px solid var(--secundary-color);
      }
      
      .MuiTypography-h6 {
        font-size: 1.5rem;
        color: #333;
        margin-bottom: 10px;
      }

      .MuiTypography-body1 {
        font-size: 1rem;
        color: #333;
        margin-bottom: 5px;
      }
    }
  }

  .branch-section {
    width: 100%;
    display: flex;
    flex-direction: column;

    .section-header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-left: 10%;
      margin-bottom: 20px;

    }
    .btn_newBranch{
      display: flex;
      .MuiButton-containedPrimary {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: var(--primary-color);
        // color: var(--primary-color);
        font-size: medium;
        // transition: all 0.3s;
        & svg{
          margin-right: 10px;
        }
        &:hover {
          background-color: var(--orangeSoft-color);
          color: #fff;
        }
      }
    }

    .branch-list {
      display: flex;
      flex-wrap: wrap;
      margin-left: 2%;
      gap: 20px;

      .branch-card {
        flex: 1 1 300px;
        max-width: 300px;
        cursor: pointer;
        .MuiCardContent-root {
          padding-bottom: 20px;
        }
        .MuiButton-root {
          margin-top: 10px;
          font-size: 0.9rem;
          &:first-of-type {
            margin-right: 10px;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 10px;

    h4 {
      font-size: 1.75rem;
    }

    .partner-info {
      .MuiCard-root {
        max-width: 100%;
      }
    }

    .branch-section {
      .section-header {
        flex-direction: column;
        align-items: center;

        .MuiButton-containedPrimary {
          margin-top: 10px;
        }
      }

      .branch-list {
        .branch-card {
          flex: 1 1 100%;
          max-width: 100%;
        }
      }
    }
  }

  @media (max-width: 480px) {
    h4 {
      font-size: 1.5rem;
    }

    .partner-info {
      .MuiAvatar-root {
        width: 60px;
        height: 60px;
      }

      .MuiTypography-h6 {
        font-size: 1.25rem;
      }

      .MuiTypography-body1 {
        font-size: 0.9rem;
      }
    }

    .branch-section {
      .section-header {
        .MuiButton-containedPrimary {
          width: 100%;
        }
      }
    }
  }
  & .btns_ed_del{
    position: relative;
    width: 100%;
    .btnDelete{
      width: 30px;
      height: 30px;
      min-width: 30px;
      position:absolute;
      right: 10px;
      color: var(--red-color);
      &:hover{
        // background-color: var(--red-color);
        color: var(--redSoft-color);
      }
    }
    .btnEdit{
      width: 30px;
      height: 30px;
      min-width: 30px;
      padding: 0;
      position:absolute;
      right: 1.7em;
      color: var(--secundary-color);
      &:hover{
        // background-color: var(--secundary-color);
        color: var(--greenSoft-color);
      }
      // background-color: #333;
    }
  }
}
.passwordIcon{
  position: relative;
  & svg{
    position: absolute;
    right: 0;
    top: 0;
    color: var(--secundary-color);
    cursor: pointer;
      &:hover{
        color: var(--primary-color);
      }
  }
}