  .tourist-point-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 90%;
    margin-left: 6%;
    padding-top: 10%;
    width: 100vw;
    @media (max-width: 768px) {
      // flex-direction: column;
      width: 95%;
      padding-top: 20%;
      margin-left: 7%;
      padding-bottom: 2%;
     }
     .detail-content{
      flex: 1 1 42%;
      display: flex;
      flex-direction: column;
      @media (max-width: 768px) {
        flex: 1 1 90%;
        padding-top: 5%;
        margin-left: 3%;
        padding-bottom: 2%;
       }
     }
    // background-image: url(../../assets/images/fondo-poli.svg);
    .detail-card {
        padding: 6px;
        display: flex;
        max-width: 700px;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 768px) {
          width: 95%;
         
         }
        
      .detail-image {
        width: fit-content; 
        align-self: center;
        max-height: 220px;
        margin-bottom: 16px;
        border-radius: 10px;
      }
      .btnMore{
        color: var(--primary-color);
        &:hover{
            color: #00b6ce;
        }
      }
      .buttons-container {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        margin-bottom: 50px;
      }
      @media (max-width: 768px) {

        padding: 5px;
       }
    }
    
  }
  .listimages{
    display: flex;
    height: 100px;
    gap: 10px;
    
    & .thumbnail-wrapper-list{
      height: 100px;
      & img{
            max-width: 100px;
            height: 70px;
            border-radius: 10px;
            &:hover{
                cursor: pointer;
            }
            @media (max-width: 768px) {
              height: 40px;
             }
        }
        @media (max-width: 768px) {
          height: 70px;
         }
    }
  }
  .thumbnails-container {
    display: flex;
    gap: 10px;
    margin-top: 2%;
    .thumbnail {
      width: 100px;
      height: 70px;
      object-fit: cover;
      cursor: pointer;
      border: 2px solid transparent;
      transition: border-color 0.3s ease;

      &:hover {
        border-color: var(--primary-color);
      }
    }
  }
  .thumbnail-wrapper{
    
    overflow: hidden;
    width:100px;
    height: 70px;
    position: relative;
    border-radius: 10px;
    .remove-icon{
        position: absolute;
            top: 0;
            right: 0;
            width:100px;
            height: 80px;
            background-color: #c5c5c594;
            display: none;
            z-index: 1;
            transition: all 3s;
    }
    &:hover{
        .remove-icon{
            display: flex;
            justify-content: center;
            align-items: center;
        }
      }
    }
   

    
  .back-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: rgb(2, 122, 140);
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    z-index: 0;
    border-radius: 30%;
    padding: 8px 8px;
    top: 20%;
    left: 7%;
    & h4{
      margin-left: 10px;
    }
    &:hover {
      color: rgb(0, 170, 196); 
      border-radius: 50%;
      background-color: transparent;
    }

    .back-icon {
      font-size: 1.5rem;
      @media (max-width: 600px) {
        font-size: 1rem;
     }
    }

    @media (max-width: 600px) {
     background-color: #e2e2e2f4;
     font-size: 1rem;
     left: 15%;
  }
}

.css-1oqqzyl-MuiContainer-root {
  max-width: 1500px;
}

.descriptionTour{
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 0.8rem;
}

.map-container-view{
  padding: 2%;
}